<a class="btn btn-primary" href="/users/new" role="button">Novo Usuário</a>
<table border="1">
    <tr>
        <td>ID</td>
        <td>Nome</td>
        <td colspan="3"></td>
        
    </tr>
    {{#each users}}
    
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.nome}}</td>
            <td><a href="/users/delete/{{this.id}}">Excluir</a></td>
            <td><a href="/users/edit/{{this.id}}">Alterar</a></td>
            <td><a href="/users/view/{{this.id}}">Visualizar</a></td>
        </tr>
    {{/each}}
</table>


