<a class="btn btn-primary" href="/posts/new" role="button">Novo Post</a>
<table border="1">
    <tr>
        <td>ID</td>
        <td>Titulo</td>
        <td>Texto</td>
        <td>Usuário</td>
        <td colspan="3"></td>
        
    </tr>
    {{#each posts}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.titulo}}</td>
            <td>{{this.texto}}</td>
            <td>{{this.nome}}</td>
            <td><a href="/posts/delete/{{this.id}}">Excluir</a></td>
            <td><a href="/posts/edit/{{this.id}}">Alterar</a></td>
            <td><a href="/posts/view/{{this.id}}">Visualizar</a></td>
        </tr>
    {{/each}}
</table>


